/*Variables*/
/*MAPA*/
.sp-xlarge {
  padding: 5rem; }

.sp-large {
  padding: 3rem; }

.sp-medium {
  padding: 2rem; }

.sp-small {
  padding: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals*/
html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #ffffff; }

ul {
  list-style: none;
  justify-content: center; }

a {
  text-decoration: none;
  color: #070404;
  display: block; }

h2 {
  color: #830e3b; }

/*Helpers*/
.flex-row {
  display: flex;
  flex-flow: row wrap; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  max-width: 1080px; }

/*Helpers*/
.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  max-width: 1080px; }

/*HEADER*/
header {
  background-color: #ffffff;
  border: 2px solid #efeff4; }

.navbar {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem;
  align-items: end;
  min-height: 10vh; }
  .navbar .logo {
    width: 15%; }
    .navbar .logo img {
      width: 120px;
      margin: auto; }

.menu {
  min-width: 50%;
  justify-content: start; }
  .menu__item {
    padding: 0 1rem;
    flex-grow: 1;
    font-size: 1.5em;
    text-align: center; }
    .menu__item:hover {
      border-bottom: 2px solid #efeff4; }
    .menu__item .sub-menu {
      display: none;
      position: absolute; }

.menu__item:hover .sub-menu {
  display: block;
  transition: all .5s ease-in-out; }
  .menu__item:hover .sub-menu .sub-menu__link {
    background-color: #fbfbfb;
    padding: 1rem;
    font-size: 0.9em;
    transition: all .3s ease-in-out; }
    .menu__item:hover .sub-menu .sub-menu__link:hover {
      background-color: #f7e0e3;
      transition: all .2s ease-in-out; }

/*media queries*/
@media screen and (max-width: 670px) {
  .navbar {
    justify-content: center; }
    .navbar .logo {
      width: 180px;
      margin: auto;
      padding: 1rem; } }

@media screen and (max-width: 460px) {
  .menu {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: #efeff4; }
    .menu .menu__item {
      border: 2px solid #ffffff;
      padding: 5px; } }

/*Footer*/
.footer {
  background-image: linear-gradient(to top, #fbeff1, #d9ced3, #b7afb6, #959199, #74747c);
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer__sect {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fbfbfb;
    justify-content: space-between;
    max-height: 25vh;
    width: 100%; }
  .footer__block {
    text-align: center;
    padding: 2rem;
    font-size: 1.5em;
    width: 33%; }

.copyright {
  text-align: center;
  font-size: 1.2em; }

/*media queries footer*/
@media screen and (max-width: 460px) {
  .footer__sect {
    flex-direction: column;
    max-height: none; }
  .footer__block {
    padding: 1rem;
    font-size: 1.2em;
    width: 100%; }
  .copyright {
    font-size: 1em; } }

/*Main*/
.presentation img {
  width: 100%;
  max-height: 60vh;
  padding: 5px 0; }

.present-products {
  width: 100%;
  padding: 2rem 0;
  justify-content: space-between;
  gap: 4rem; }
  .present-products .products-features {
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    border: 0.5px solid #efeff4;
    font-size: 1.2em;
    padding: 2rem; }
    .present-products .products-features img {
      width: 98%;
      max-height: 50%;
      padding-bottom: 1rem; }
    .present-products .products-features p {
      font-size: 1em;
      text-align: start; }
    .present-products .products-features .price {
      text-align: end; }
      .present-products .products-features .price span {
        font-size: 2.5em;
        font-weight: bold;
        color: #3c0621;
        float: right; }

/*Media queries*/
@media screen and (max-width: 790px) {
  .present-products {
    justify-content: center;
    row-gap: 2rem;
    column-gap: 0; }
    .present-products .products-features {
      min-width: 60%; } }

.btn {
  background-color: #74747c;
  color: #efeff4;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  display: inline-block; }

.contact {
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap; }
  .contact-img {
    vertical-align: center; }
    .contact-img img {
      min-width: 300px;
      max-width: 400px;
      border: 2px solid #efeff4; }
  .contact-form h2 {
    text-align: center;
    padding-bottom: 1em; }
  .contact-form form {
    border: 2px solid #efeff4;
    padding: 2rem;
    border-radius: 5px;
    max-width: 30em;
    min-width: 15em; }
    .contact-form form p {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem; }
    .contact-form form input, .contact-form form textarea {
      display: flex;
      align-items: center;
      width: 20em;
      height: 2em;
      padding: 0.5rem;
      border-radius: 5px;
      border-color: solid 1px #f7f7fc; }
    .contact-form form textarea {
      height: 7em; }

/*LINEA DE PRODUCTOS*/
.products-line {
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap; }
  .products-line .sect-img img {
    height: 300px;
    width: 300px;
    border: 0.5px solid #efeff4;
    padding: 1rem; }
  .products-line .products-article {
    width: 50vw; }
    .products-line .products-article .section-prod {
      gap: 1rem;
      padding: 1rem;
      border-bottom: 0.5px solid #efeff4;
      justify-content: center; }
      .products-line .products-article .section-prod img {
        width: 200px;
        height: 200px;
        border: 0.5px solid #efeff4; }
      .products-line .products-article .section-prod .description {
        font-size: 1.2em;
        width: 250px;
        padding: 1rem 0; }

@media screen and (max-width: 680px) {
  .sect-img {
    display: none; } }

@media screen and (max-width: 450px) {
  .container {
    max-width: 400px; } }

@media screen and (max-width: 360px) {
  .container {
    max-width: 360px; } }

/*PRODUCTS*/
.presentation-pages {
  background-color: #efeff4;
  width: 100%;
  max-height: 15vh;
  padding: 1rem;
  font-size: 1.5em; }
  .presentation-pages p {
    font-size: 1em;
    font-family: "Roboto Condensed", sans-serif; }

.products {
  width: 100%;
  padding: 1rem 0;
  justify-content: space-between;
  gap: 20px; }
  .products-present {
    min-width: 23%;
    border: 0.5px solid #efeff4;
    font-size: 1em;
    padding: 1rem;
    margin: 0; }
    .products-present img {
      width: 90%;
      height: auto;
      padding-bottom: 2rem; }
    .products-present p {
      font-size: 0.8em; }

/*media queries*/
@media screen and (max-width: 970px) {
  .products {
    justify-content: center; }
    .products-present {
      min-width: 50%; } }

@media screen and (max-width: 670px) {
  .presentation-pages {
    text-align: center;
    font-size: 1.2em; } }

/*ABOUT*/
.about {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 2rem; }
  .about h1 {
    color: #830e3b;
    font-size: 4em;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em; }
  .about p {
    color: #070404;
    font-size: 2em;
    font-weight: lighter;
    font-family: "Roboto Condensed", sans-serif; }
