/*Variables*/
/*MAPA*/
.sp-xlarge {
  padding: 5rem; }

.sp-large {
  padding: 3rem; }

.sp-medium {
  padding: 2rem; }

.sp-small {
  padding: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals*/
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #fde8eb; }

ul {
  list-style: none;
  justify-content: center; }

a {
  text-decoration: none;
  color: #000;
  display: block; }

/*Helpers*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  max-width: 1080px; }

/*Helpers*/
.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  max-width: 1080px; }

header {
  background-image: linear-gradient(to right bottom, #161517, #2e292c, #493d41, #665353, #816c64); }
  header .navbar {
    justify-content: center; }

.logo {
  width: 100%;
  height: 20vh; }
  .logo img {
    width: auto;
    height: 20vh;
    display: block;
    margin: auto; }

.navbar-menu {
  background-image: linear-gradient(to top, #fbeff1, #d9ced3, #b7afb6, #959199, #74747c);
  min-height: 6vh; }
  .navbar-menu ul {
    justify-content: center; }
    .navbar-menu ul .navbar-item {
      padding: 1.5rem;
      margin: 0 3rem;
      font-size: 1.5em; }
      .navbar-menu ul .navbar-item:hover {
        border-bottom: 2px solid #fbfbfb;
        transition: all .5s ease-in-out; }
      .navbar-menu ul .navbar-item:hover .sub-menu {
        display: block; }
      .navbar-menu ul .navbar-item .sub-menu {
        display: none;
        position: absolute; }
        .navbar-menu ul .navbar-item .sub-menu .sub-menu__link {
          background-color: #fbfbfb;
          padding: 0.5rem;
          font-size: 0.8em;
          transition: all .3s ease-in-out; }
          .navbar-menu ul .navbar-item .sub-menu .sub-menu__link:hover {
            background-color: #f6d0d5;
            transition: all .2s ease-in-out; }

/*media queries*/
@media screen and (max-width: 840px) {
  .navbar-menu ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 2px; }
  .navbar-menu .navbar-item a {
    padding: .5rem .5rem;
    margin: 0 1rem;
    font-size: 1em; } }

@media screen and (max-width: 412px) {
  .navbar-menu ul {
    flex-direction: column;
    align-items: center;
    font-size: 1em; }
  .navbar-menu .navbar-item:hover {
    border-bottom: 2px solid #fbfbfb;
    transition: all .3s ease-in-out;
    justify-content: center; } }

/*Footer*/
.footer {
  background-image: linear-gradient(to top, #fbeff1, #d9ced3, #b7afb6, #959199, #74747c);
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer__sect {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fbfbfb;
    justify-content: space-between;
    height: 15vh;
    width: 100%; }
  .footer__block {
    text-align: center;
    padding: 2rem;
    font-size: 1.2em; }

.copyright {
  text-align: center;
  font-size: 1.2em; }

/*media queries*/
@media screen and (max-width: 412px) {
  .footer__sect .footer__block {
    font-size: 1em; }
  .copyright {
    font-size: 1em; } }

/*Main*/
.presentation {
  text-align: center;
  padding: 8rem; }
  .presentation h1 {
    font-size: 5em;
    color: #000;
    font-weight: bold; }
  .presentation p {
    font-size: 3em;
    color: #000;
    font-weight: lighter;
    font-family: "Rochester", cursive; }
  .presentation__section {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    row-gap: 20px;
    max-width: 800px; }

.section__art {
  text-align: center;
  font-size: 1.2em; }

.img-border {
  border: 10px solid #816c64;
  border-radius: 5px;
  height: 40vh;
  width: 40vh;
  margin: 0.5rem 1rem; }
  .img-border:hover {
    border: 5px solid #fbfbfb;
    transition: all .5s ease-in-out; }

.btn {
  background-color: #74747c;
  color: #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  display: inline-block; }

.contact {
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  flex-wrap: wrap; }
  .contact .sect-img img {
    height: auto;
    max-width: 30em;
    border: 10px solid #816c64;
    border-radius: 5px; }
  .contact .sect-form h2 {
    text-align: center;
    padding-bottom: 1em; }
  .contact .sect-form form {
    background-color: #dedeed;
    padding: 2rem;
    border-radius: 5px;
    width: 25em; }
    .contact .sect-form form p {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem; }
    .contact .sect-form form input, .contact .sect-form form textarea {
      display: flex;
      align-items: center;
      width: 15em;
      height: 2em;
      padding: 0.5rem;
      border-radius: 5px;
      border-color: solid 1px #f7f7fc; }
    .contact .sect-form form textarea {
      height: 7em; }

/*MESAS*/
.products {
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  flex-wrap: wrap; }
  .products .sect-img img {
    height: auto;
    max-width: 20em;
    border: 10px solid #816c64;
    border-radius: 5px; }
  .products .products-article {
    max-width: 30em; }
    .products .products-article .section-prod {
      gap: 2em;
      padding: 0.5em; }

/*PRODUCTS*/
.presentation {
  text-align: center;
  padding: 2rem; }
  .presentation h1 {
    font-size: 5em;
    color: #000;
    font-weight: bold; }
  .presentation p {
    font-size: 3em;
    color: #000;
    font-weight: lighter;
    font-family: "Rochester", cursive; }
  .presentation__section {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    row-gap: 20px;
    max-width: 900px; }

.section__art {
  text-align: center;
  font-size: 1.2em;
  padding: 2em; }
  .section__art .img-border img {
    border: 10px solid #816c64;
    border-radius: 5px;
    height: 40vh;
    width: 40vh;
    margin: 0.5rem 1rem;
    gap: 20em; }
    .section__art .img-border img:hover {
      border: 5px solid #fbfbfb;
      transition: all .5s ease-in-out; }
