/*Variables*/
/*MAPA*/
.sp-xlarge {
  padding: 5rem; }

.sp-large {
  padding: 3rem; }

.sp-medium {
  padding: 2rem; }

.sp-small {
  padding: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals*/
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #fde8eb; }

ul {
  list-style: none;
  justify-content: center; }

a {
  text-decoration: none;
  color: #ababb1;
  display: inline-block; }

/*Helpers*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  max-width: 1080px; }

/*Helpers*/
.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  max-width: 1080px; }

header {
  background-color: #fde8eb;
  width: 100%; }
  header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 50%; }
    header .navbar .logo {
      background-color: #00ff15;
      flex-basis: 25%; }
      header .navbar .logo img {
        min-width: 20px;
        max-width: 25em; }
    header .navbar .menu {
      background-color: #054115;
      flex-basis: 100%;
      width: 100%; }

/*

    


    
    .menu-item {
        border-bottom: 1px solid #c0b5b5;
        transition: all .3s ease-in-out;
/*
    &:hover {
            border-color: $secondary;
            transition: all .5s ease-in-out;
            }}
/*
            .menu__link {
                font-size: 1.5em;
                padding: 1rem;
            }
        }
    }
*/
.navbar .menu__item .sub-menu {
  display: none;
  position: absolute; }

.navbar .menu .menu__item:hover .sub-menu {
  display: block; }

.menu__item .sub-menu .sub-menu__link {
  font-size: 1.5em;
  padding: 1rem;
  transition: all .3s ease-in-out; }
  .menu__item .sub-menu .sub-menu__link:hover {
    background-color: #fbfbfb; }

/*.sub-menu__link {
            background-color: #fbfbfb;
            padding: 0.5rem;
            font-size: 0.8em;
            transition: all .3s ease-in-out;


            &:hover {
                background-color: #f6d0d5;
                transition: all .2s ease-in-out;
            }
        }*/
/*media queries*/
@media screen and (max-width: 852px) {
  .navbar-menu ul {
    flex-wrap: wrap;
    justify-content: center; }
  .navbar-menu .navbar-item a {
    padding: 0;
    font-size: 1em; } }

@media screen and (max-width: 412px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center; }
  /*.navbar-item:hover {
                border-bottom: 2px solid #fbfbfb;
                transition: all .3s ease-in-out;
                justify-content: center;
            }*/ }

/*Footer*/
.footer {
  background-image: linear-gradient(to top, #fbeff1, #d9ced3, #b7afb6, #959199, #74747c);
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer__sect {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fbfbfb;
    justify-content: space-between;
    height: 15vh;
    width: 100%; }
  .footer__block {
    text-align: center;
    padding: 2rem;
    font-size: 1.2em; }

.copyright {
  text-align: center;
  font-size: 1.2em; }

/*media queries*/
@media screen and (max-width: 412px) {
  .footer__sect .footer__block {
    font-size: 1em; }
  .copyright {
    font-size: 1em; } }

/*Main*/
.presentation {
  text-align: center;
  padding: 8rem; }
  .presentation h1 {
    font-size: 5em;
    color: #000;
    font-weight: bold; }
  .presentation p {
    font-size: 3em;
    color: #ababb1;
    font-weight: lighter;
    font-family: #000; }
  .presentation__section {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    row-gap: 20px;
    max-width: 800px; }

.section__art {
  text-align: center;
  font-size: 1.2em; }

.img-border {
  border: 1px solid #ababb1;
  border-radius: 5px;
  height: 40vh;
  width: 40vh;
  margin: 0.5rem 1rem; }
  .img-border:hover {
    border: 5px solid #fbfbfb;
    transition: all .5s ease-in-out; }

.btn {
  background-color: #74747c;
  color: #ababb1;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  display: inline-block; }

.contact {
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  flex-wrap: wrap; }
  .contact .sect-img img {
    height: auto;
    max-width: 30em;
    border: 10px solid #816c64;
    border-radius: 5px; }
  .contact .sect-form h2 {
    text-align: center;
    padding-bottom: 1em; }
  .contact .sect-form form {
    background-color: #dedeed;
    padding: 2rem;
    border-radius: 5px;
    width: 25em; }
    .contact .sect-form form p {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem; }
    .contact .sect-form form input, .contact .sect-form form textarea {
      display: flex;
      align-items: center;
      width: 15em;
      height: 2em;
      padding: 0.5rem;
      border-radius: 5px;
      border-color: solid 1px #f7f7fc; }
    .contact .sect-form form textarea {
      height: 7em; }

/*MESAS*/
.products {
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  flex-wrap: wrap; }
  .products .sect-img img {
    height: auto;
    max-width: 20em;
    border: 10px solid #816c64;
    border-radius: 5px; }
  .products .products-article {
    max-width: 30em; }
    .products .products-article .section-prod {
      gap: 2em;
      padding: 0.5em; }

/*PRODUCTS*/
.presentation {
  text-align: center;
  padding: 2rem; }
  .presentation h1 {
    font-size: 5em;
    color: #ababb1;
    font-weight: bold; }
  .presentation p {
    font-size: 3em;
    color: #ababb1;
    font-weight: lighter;
    font-family: "Rochester", cursive; }
  .presentation__section {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    row-gap: 20px;
    max-width: 900px; }

.section__art {
  text-align: center;
  font-size: 1.2em;
  padding: 2em; }
  .section__art .img-border img {
    border: 10px solid #816c64;
    border-radius: 5px;
    height: 40vh;
    width: 40vh;
    margin: 0.5rem 1rem;
    gap: 20em; }
    .section__art .img-border img:hover {
      border: 5px solid #fbfbfb;
      transition: all .5s ease-in-out; }
