/*Footer*/

.footer {
    background-image: linear-gradient(to top, #fbeff1, #d9ced3, #b7afb6, #959199, #74747c);
    display: flex;
    flex-direction: column;
    width: 100%;

    &__sect {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #fbfbfb;
        justify-content: space-between;
        max-height: 25vh;
        width: 100%;
    }

    &__block {
        text-align: center;
        padding: 2rem;
        font-size: 1.5em;
        width: 33%;
    }
}

.copyright {
    text-align: center;
    font-size: 1.2em;


}

/*media queries footer*/

@media screen and (max-width: 460px) {

    .footer__sect {
        flex-direction: column;
        max-height: none;
    }

    .footer__block {
        padding: 1rem;
        font-size: 1.2em;
        width: 100%;


    }


    .copyright {
        font-size: 1em;
    }
}