header {
    background-color: $primary;
/*
    .logo {
        flex-basis: 40%;

    }*/

    .navbar {
        min-height: 10vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }


    .menu {
        flex-basis: 40%;
        justify-content: space-between;}

    .menu-item {
        border-bottom: 1px solid #c0b5b5;
        transition: all .3s ease-in-out;

    &:hover {
            border-color: $secondary;
            transition: all .5s ease-in-out;
            }}
/*
            .menu__link {
                font-size: 1.5em;
                padding: 1rem;
            }
        }
    }

    .navbar {
        .menu__item {
            .sub-menu {
                display: none;
                position: absolute;
            }

        }
    }

    .navbar {
        .menu {
            .menu__item:hover .sub-menu {
                display: block;
            }
        }
    }






    .menu__item {
        .sub-menu {
            .sub-menu__link {
                font-size: 1.5em;
                padding: 1rem;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: #fbfbfb;
                }
            }


        }
    }



    /*.sub-menu__link {
            background-color: #fbfbfb;
            padding: 0.5rem;
            font-size: 0.8em;
            transition: all .3s ease-in-out;


            &:hover {
                background-color: #f6d0d5;
                transition: all .2s ease-in-out;
            }
        }*/


}





/*media queries*/

@media screen and (max-width: 852px) {

    .navbar-menu {
        ul {
            flex-wrap: wrap;
            justify-content: center;

        }

        .navbar-item {
            a {
                padding: 0;
                font-size: 1em;
            }
        }
    }
}


@media screen and (max-width: 412px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    /*.navbar-item:hover {
                border-bottom: 2px solid #fbfbfb;
                transition: all .3s ease-in-out;
                justify-content: center;
            }*/

}