/*HEADER*/

header {
    background-color: $primary;
}

.navbar {
    background-color: $primary;
    width: 100%;
    padding: 1rem;
    align-items: end;
    min-height: 10vh;
    border-bottom: 2px solid #f6f4f4;
    .logo {
        width: 40%;
        img {
            width: 180px;
            margin:auto;

        }
    }

}

.menu {
    min-width: 50%;
    justify-content: center;
    

    &__item {
        padding: 1rem;
        flex-grow: 1;
        font-size: 1.5em;

        &:hover {
            background-color: #fadbdb;
            transition: all .5s ease-in-out;
        }

        .sub-menu {
            display: none;
            position: absolute;
        }

    }

}


.menu__item:hover .sub-menu {
    display: block;

    .sub-menu__link {
        background-color: #fbfbfb;
        padding: 1rem;
        font-size: 0.9em;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #f7e0e3;
            transition: all .2s ease-in-out;
        }
    }
}

/*media queries*/

@media screen and (max-width: 670px) {

    .navbar {
        justify-content: center;
        .logo{
            width: 180px;
            margin: auto;
            padding:1rem;
        }}
    


}

@media screen and (max-width: 412px) {


    .menu__item {
        font-size: 1.2em;

        .sub-menu__link {
            font-size: 0.6em;
        }

    }
} 