/*ABOUT*/

.about {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 5rem;

    h1 {
        @include fontStyle($color-font, 4em, bold, $font-primary);
        padding: 1em;
    }

    p {
        @include fontStyle($color-font, 3em, lighter, $font-secondary);
    }
}