.btn{
    @include btn(#74747c, $secundary, 'false')
}

form{
    background-color: #f7f7f9;
    padding: 20px;
    border-radius: 5px;
    width: 40vh;
}

input{
    display: flex;
    align-items: center;
    width: 15em;
    height: 20px;
}

textarea{
    width: 15em;
}

