.btn{
    @include btn(#74747c, $secondary, 'false')
}

.contact{
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;

    &-img{
        vertical-align: center;
        img{
            min-width: 300px;
            max-width: 400px;
            border: 2px solid $secondary;
            
        }
    }

    &-form{
        h2{
            text-align: center;
            padding-bottom: 1em;
        } 
        form{
            border: 2px solid $secondary;            
            padding: 2rem;
            border-radius: 5px;
            max-width: 30em;
            min-width: 15em;
            
            p{
                padding-top: 1.5rem;
                padding-bottom: 0.5rem;
            }
            input{
                display: flex;
                align-items: center;
                width: 20em;
                height: 2em;
                padding: 0.5rem;
                border-radius: 5px;
                border-color: solid 1px #f7f7fc;
            }
            textarea{
                @extend input;
                height:7em;
            }
        }  
    }
}

