/*Main*/


.presentation {
    img{
        width: 100%;
        max-height: 60vh;
        padding: 5px 0;

    }
}
 
.present-products{
    width: 100%;
    padding: 2rem 0;
    justify-content: space-between;
    gap:4rem;
   
.products-features{
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    border:0.5px solid $secondary;
    font-size: 1.2em; 
    padding: 2rem;
    
    

    
    img {
        width: 98%;
        max-height: 50%;
        padding-bottom: 1rem;
    }

    p{
        font-size: 1em;
        text-align: start;  
    }
    
    .price{
        text-align: end;
        span{
            font-size: 2.5em;
            font-weight: bold;
            color: #3c0621;
            float: right;
        }
        
    }
   
  
}
  
}

/*Media queries*/

@media screen and (max-width: 790px) {
    .present-products{
        justify-content: center;
        row-gap: 2rem;
        column-gap: 0;
    .products-features{
        min-width: 60%;
       }
    
}
}