/*MESAS*/

.products{
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    flex-wrap: wrap;
    &-img{
        img{
            height: auto;
            max-width: 15em;
            

        }
    }
    .products-article{
        max-width: 30em;
        .section-prod{
            gap: 2em;
            padding: 0.5em;
         
        }

    }  
}

