/*LINEA DE PRODUCTOS*/

.products-line {
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;

    .sect-img {
        img {
            height: 300px;
            width: 300px;
            border: 0.5px solid $secondary;
            padding: 1rem;


        }
    }

    .products-article {
        width: 50vw;
        

        .section-prod {
            gap: 1rem;
            padding: 1rem;
            border-bottom: 0.5px solid $secondary;
            justify-content: center;
            

            img {
                width: 200px;
                height: 200px;
                border: 0.5px solid $secondary;

            }

            .description {
                font-size: 1.2em;
                width: 250px;
                padding: 1rem 0;
              



            }


        }

    }
}



@media screen and (max-width: 680px) {

    .sect-img {
        display: none;
    }
}
  
@media screen and (max-width: 450px) {
  .container{
      max-width: 400px;
  }
}

@media screen and (max-width: 360px) {
    .container{
        max-width: 360px;
    }
}
