/*Helpers*/

.flex-row {
    display: flex;
    flex-direction: row;


}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1080px;

}

@mixin fontStyle($color, $fontSize, $fontWeight, $font) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-family: $font;

}

@mixin btn($background-color, $color, $bold) {
    background-color: $background-color;
    color: $color;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    display: inline-block;

    @if ($bold=='true') {
        font-weight: bold;
    }
}