/*Variables*/


    $primary: #ffffff;
    $secondary:#efeff4;
    $color-font:rgb(7, 4, 4);
    $font-primary: 'Lato', sans-serif;
    $font-secondary: 'Rochester', cursive;


/*MAPA*/
    $spacings:(
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
);

@each $var, $val in $spacings{
    .sp-#{$var}{
        padding: #{$val};
    }
}


