/*Variables*/


    $primary: #ffffff;
    $secondary:#efeff4;
    $color-font:rgb(7, 4, 4);
    $color-font-second:rgb(131, 14, 59);
    $font-primary: "Helvetica Neue",Helvetica,Arial,sans-serif;
    $font-secondary: 'Roboto Condensed', sans-serif;


/*MAPA*/
    $spacings:(
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
);

@each $var, $val in $spacings{
    .sp-#{$var}{
        padding: #{$val};
    }
}


