/*Variables*/


    $principal: rgb(92, 12, 24);
    $secundary:linear-gradient(to top, #fbeff1, #d9ced3, #b7afb6, #959199, #74747c);
    $font-color: rgb(119, 6, 6);
    $font-primary: 'Lato', sans-serif;
    $font-secundary: 'Rochester', cursive;

$spacings:(
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
);

@each $var, $val in $spacings{
    .sp-#{$var}{
        padding: #{$val};
    }
}
